#queryContainer #schemaContainer {
   width: 95vw;
   height: 65vh;
   margin-top: 1rem;

   flex-direction: column;

   border: 0.2rem solid var(--color-secondary);
   border-radius: 2rem;

   overflow: auto;

   background: var(--color-primary);
}

#queryContainer #schemaContainer table {
   margin: 1rem 2rem;

   border-radius: 2rem;
   border: 0.2rem solid var(--color-secondary);

   background: var(--color-background);
}

#queryContainer #schemaContainer table caption {
   text-align: left;
   color: var(--color-title-in-primary);
   font: 700 var(--font-size-title) var(--font-family-title);
}

#queryContainer #schemaContainer table td {
   min-width: 10rem;
   height: 3rem;
   padding: 0.8rem;

   text-align: center;
}

#queryContainer #schemaContainer table td:not(:last-child) {
   border-right: 0.2rem solid var(--color-secondary);
}

#queryContainer #schemaContainer::-webkit-scrollbar {
   width: 0.7rem;
   height: 0.7rem;
}

#queryContainer #schemaContainer::-webkit-scrollbar-thumb {
   border-radius: 5rem;

   background: var(--color-secondary);
}

#queryContainer #schemaContainer::-webkit-scrollbar-track {
   margin: 2rem;

   background: transparent;
}

#queryContainer #schemaContainer::-webkit-scrollbar-thumb:hover {
   background: var(--color-secondary-dark);
}

#queryContainer #schemaContainer::-webkit-scrollbar-corner {
   opacity: 0;
}

#queryContainer #inputsContainer {
   margin-top: 2rem;
}

#queryContainer #inputsContainer #textAreaContainer {
   flex: 3;
   flex-direction: column;
}

#queryContainer textarea {
   height: 20vh;
   margin-bottom: 0.5rem;
   padding: 1rem;

   border-radius: 2rem;

   resize: none;
}

#queryContainer textarea:focus {
   outline: none;

   border: 0.1rem solid var(--color-primary-dark);
   box-shadow: 0 0 1rem var(--color-primary-dark);
}

#queryContainer #inputsContainer #buttonsContainer {
   height: 20vh;
   margin-left: 5rem;

   flex: 1;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
}

#queryContainer #inputsContainer #buttonsContainer .queryButton {
   padding: 1.2rem;
   width: 12rem;

   display: flex;
   align-items: center;
   justify-content: center;

   border: none;
   border-radius: 0.5rem;

   font: 400 var(--font-size-title) var(--font-family-title);
   text-decoration: none;
   color: var(--color-text-in-success-button);

   transition: all 0.2s ease;

   cursor: pointer;
}

#queryContainer #inputsContainer #buttonsContainer .queryButton:hover {
   filter: brightness(85%);
}

#queryContainer #inputsContainer #buttonsContainer #submitQuery {
   background: var(--color-success-button);
}

#queryContainer #inputsContainer #buttonsContainer #saveQuery {
   background: var(--color-secondary);
}

#queryContainer #inputsContainer #buttonsContainer #helpPageButton {
   background: var(--color-primary-dark);
}

#queryContainer #inputsContainer #buttonsContainer .queryButton .queryIcon {
   margin-right: 0.2rem;
}
