/* Estilização presente no arquivo do mapa. */

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customization
   .labelMenu {
   align-items: center;
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customization
   .labelMenu
   .textSizeContainer {
   justify-content: center;
   align-items: center;
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customization
   .labelMenu
   .textSizeContainer
   button {
   width: 0.5rem;
   height: 1rem;

   margin: 0 0.5rem;
   padding: 0.8rem 0.5rem;
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customization
   .menu
   .label {
   width: 100%;

   margin: auto;
   padding: 0.1rem 0.5rem;

   cursor: pointer;

   list-style: none;
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customization
   .menu
   .label:not(:last-child) {
   border-bottom: 0.1rem solid var(--color-secondary-dark);
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customization
   .menu
   .label:hover {
   background: var(--color-secondary-light);
}
