#landingContainer {
   justify-content: space-between;
}

#landingContainer #introContainer {
   flex-direction: column;
   align-items: center;
}

#landingContainer #introContainer img {
   max-width: 40rem;
}

#landingContainer #introContainer h1 {
   margin-top: 5rem;

   text-align: center;
   font: 400 1.6rem var(--font-family-title);
   line-height: 4rem;
}

#landingContainer #introContainer #databaseSelection {
   margin-top: 5rem;

   justify-content: center;
   align-items: center;
}

#landingContainer #introContainer #databaseSelection select {
   min-width: 18rem;
   height: 3.5rem;
   padding: 1rem;
   margin-right: 5rem;

   flex: 2;

   border-radius: 0.5rem;
   border: 1px solid #ced4da;
}

#landingContainer #introContainer #databaseSelection #start {
   min-width: 8rem;
   height: 3.5rem;
   padding: 0.8rem;

   flex: 1;
   display: flex;
   align-items: center;
   justify-content: space-between;

   border-radius: 0.5rem;

   text-decoration: none;
   color: var(--color-text-in-success-button);
   font: 400 1.6rem var(--font-family-title);

   background: var(--color-success-button);

   transition: background 0.2s ease;
}

#landingContainer #introContainer #databaseSelection #start:hover {
   background: var(--color-success-button-dark);
}

#landingContainer #introContainer #databaseSelection #start #startIcon {
   margin-right: 0.5rem;
}

#landingContainer footer {
   margin-bottom: 2rem;

   color: var(--color-text-in-primary);
}

#landingContainer footer a {
   color: var(--color-generic-link);
   text-decoration: none;
}

#landingContainer footer a:hover {
   text-decoration: underline;
}
