#mapContainer #mainContainer {
   margin-top: 2rem;
}

#mapContainer #mainContainer #map {
   height: 100vh;
   width: 100vw;
}

#mapContainer #mainContainer #subtitleContainer {
   flex-direction: column;
   align-items: flex-end;

   position: absolute;
   right: 1rem;
}

#mapContainer #mainContainer #subtitleContainer #toggleSubtitle {
   width: 4rem;
   margin-top: 1rem;

   justify-content: center;
   align-items: center;

   border: 0.3rem solid rgba(255, 255, 255, 0.6);

   background: var(--color-primary-dark);

   opacity: 0.85;

   transition: opacity 0.2s;
}

#mapContainer #mainContainer #subtitleContainer #toggleSubtitle:hover {
   cursor: pointer;
   opacity: 1;
}

#mapContainer #mainContainer #subtitleContainer #toggleSubtitle #toggleSubtitleIcon {
   margin: 1rem;

   color: var(--color-text-in-secondary);
}

#mapContainer #mainContainer #subtitleContainer #layersContainer {
   width: 30rem;

   padding: 1rem;

   flex-direction: column;
   justify-content: center;
   align-items: center;

   border-radius: 1rem;

   background: rgba(255, 255, 255, 0.4);

   list-style: none;
}

#mapContainer #mainContainer #subtitleContainer #layersContainer .layer {
   width: 28rem;
   height: 6rem;
   margin-bottom: 0.5rem;
   padding: 0.2rem 0.5rem;
   flex-direction: column;
   border: 2px solid var(--color-primary-dark);
   border-radius: 1rem;

   background: var(--color-primary);
}

#mapContainer #mainContainer #subtitleContainer #layersContainer .layer .buttons button {
   min-width: 3rem;
   height: 3rem;
   margin: 0 0.2rem;
   padding: 0.5rem;

   display: flex;
   justify-content: center;
   align-items: center;

   border: 0.1rem solid rgba(0, 0, 0, 0.2);
   border-radius: 0.5rem;

   color: var(--color-text-in-secondary);
   background: var(--color-secondary);

   outline: none;

   transition: background 0.2s;

   cursor: pointer;
}

#mapContainer #mainContainer #subtitleContainer #layersContainer .layer .buttons button:hover {
   background: var(--color-secondary-dark);
}

#mapContainer #mainContainer #subtitleContainer #layersContainer .layer .buttons .layerVisible {
   background: var(--color-primary-dark);
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .layerVisible:hover {
   background: var(--color-primary-darker);
}

#mapContainer #mainContainer #subtitleContainer #layersContainer .layer .buttons button svg {
   margin: 0 0.1rem;
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .toggleLabelMenu
   svg {
   position: relative;
   bottom: 0.1rem;
}

#mapContainer #mainContainer #subtitleContainer #layersContainer .layer .buttons .customizePolygon {
   position: relative;
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customization
   .menu {
   margin-top: 0.1rem;
   min-width: 18rem;

   position: absolute;
   z-index: 1;

   border-radius: 1rem;

   flex-direction: column;

   background: var(--color-secondary-lighter);
}

.teste {
   z-index: 0;
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customization
   .menu
   * {
   width: calc(100% - 2rem);
   height: 3rem;
   margin: 0.8rem 1rem;
}

/*--------------------- Estilização do slider ---------------------*/
#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customization
   .menu
   .sizePicker {
   appearance: none;
   height: 0.75rem;
   border-radius: 0.5rem;
   background: var(--color-secondary-light);
   outline: none;
   opacity: 0.7;
   transition: opacity 0.2s;
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customization
   .menu
   .sizePicker:hover {
   opacity: 1;
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customization
   .menu
   .sizePicker::-webkit-slider-thumb {
   appearance: none;
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   background: var(--color-primary-dark);
   cursor: pointer;
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customization
   .menu
   .sizePicker::-moz-range-thumb {
   appearance: none;
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   background: var(--color-primary-dark);
   cursor: pointer;
}

/* ------------------------------------------ */

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customizePolygon
   .polygonMenu
   .polygonShapesPicker {
   align-items: center;
}

#mapContainer
   #mainContainer
   #subtitleContainer
   #layersContainer
   .layer
   .buttons
   .customizePolygon
   .polygonMenu
   .polygonShapesPicker
   .shape {
   width: 3.5rem;
   margin: 0 0.5rem;
   padding: 0;
}

#mapContainer #mainContainer #subtitleContainer #layersContainer .layer .text {
   margin-top: 0.3rem;
   padding-left: 0.2rem;

   font: 400 var(--font-size-title) var(--font-family-title);
   color: var(--color-title-in-primary);
}
